body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.name {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding: 50px;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-color: coral;
    padding: 5px 10px;
    border-radius: 7px;
    color: white;
    font-weight: 400px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.big-dream {
    display: flex;
}

.image-resize {
    width: 50%;
    padding: 50px;
}

.image-resize img {
    width: 70%;
}

.image {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.button2 {
    background-color: coral;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 7px;
}

.experience-item {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 2%;
    box-shadow: 10px 10px 40px gray;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full {
    border-left: 10px solid orange;
}

#baby {
    border-left: 10px solid blue;
}

footer p {
    text-align: center;
}